.loading-screen {
  align-items: center;
  background-image: url('../images/BG AZUL.png') , linear-gradient(90deg, rgba(0, 59, 229, 1) 0%, rgba(0, 213, 226, 1) 72%);
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
